* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
:root {
    --background-head: #10375c;
}

.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    font-size: 1.6rem;
    border-radius: 999px;
    border: 1px solid #2e80ce;
    line-height: var(--height);
    background: #2e80ce;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    background: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    background: #2e80ce;
    border-color: #2e80ce;
    color: #ffffff;
    cursor: pointer;
}

.control-next-icon {
    rotate: 180deg;
}

/* =================================== */
/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--background-head);
}
/* Logo */
.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    background: #ffffff;
}

.logo__text {
    text-align: right;
    color: #ffffff;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.4em;
}
/* header top */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    text-align: center;
    font-size: 1.6rm;
    font-weight: 300;
    line-height: 28px;
    color: #c9d2da;
}

.navbar__link:hover {
    color: #ffffff;
}

.navbar__link--active {
    display: flex;
    align-items: center;
    gap: 2px;
    text-shadow: 1px 0 0 currentColor;
    color: #ffffff;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}
.header-action {
    display: flex;
    align-items: center;
}
.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

.header-action__login {
    margin-right: 7px;
}
/* hero */
.hero {
    display: flex;
    margin-top: 76px;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-family: Sora;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 18px;
    font-family: Sora;
    font-weight: 300;
    line-height: 30px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #fff;
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero__images {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    margin-left: -6px;
    z-index: 0;
}

/* Service */
.service {
    padding: 170px 0;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.service__list {
    margin-bottom: 55px;
}

/* .service-item  */
.service-item {
    display: flex;
    width: 470px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.25s;
}

.service-item:hover {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon-wrap {
    background: #2e80ce;
    color: #ffffff;
}

.service-item__icon-wrap {
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
    margin-top: 21px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    line-height: 1.27;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
/* work */
.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__icon {
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.wrok-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    font-family: Sora;
    font-weight: 600;
    line-height: 1.384;
}

.work-item__desc {
    margin: 28px 0 18px 0;
    width: 254px;
}
.work-item__more {
    color: #2e80ce;
    font-size: 1.6rem;
    line-height: 1.75;
}
/* feature */

.feature {
    margin-top: 85px;
    padding: 85px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 130px;
}

.feature__media {
    width: 49%;
}

.feature__images {
    position: relative;
    padding: 0px 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 16px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    width: 332px;
    height: 370px;
    bottom: 0;
    right: 0;
}

.feature__cta {
    margin-top: 28px;
}

/* Member */
.member {
    text-align: center;
    padding: 85px 0;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}
.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}
.member-item__img-bg {
    padding-top: 28px;
    background-color: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    color: #10375c;
    font-size: 1.6rem;
    line-height: 1.75;
}

.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 26px;
}

/* Install */
.install {
    padding: 180px 0;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}
.install__desc,
.install__heading {
    color: #fff;
}
.install__row {
    display: flex;
    margin-top: 38px;
    column-gap: 28px;
}

/* news */
.news {
    padding: 85px 0px;
    margin-top: 85px;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: block;
    margin-top: 28px;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
}
.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__body {
    padding: 22px;
    border: 1px solid #e8ebee;
    border-top: none;
    background: #fff;
    border-radius: 0 0 12px 12px;
    transition: 0.25s;
}

.news-item__heading a {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}
.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news-item__more {
    display: block;
    margin-top: 12px;
    font-weight: 500px;
    color: #10375c;
    font-size: 1.267;
}

.news-item__more:hover {
    color: #2e80ce;
}
/* Appointment */
.appointment {
    margin: 85px 0 170px 0;
}

.appointment__inner {
    background: #f6fbff;
    padding: 100px 170px;
    text-align: center;
    width: 1170px;
    height: 427px;
    flex-shrink: 0;
    border-radius: 4px;
}
.appointment__heading {
    position: relative;
    padding-bottom: 18px;
}
.appointment__heading::after {
    position: absolute;
    display: inline-block;
    content: "";
    margin: 0 auto;
    bottom: 0;
    width: 136px;
    height: 2px;
    left: 0;
    right: 0;

    flex-shrink: 0;
    background: #2e80ce;
}

.appointment__desc {
    margin: 18px 0 48px 0;
    max-width: 617px;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}
